@model IEnumerable<MusiCodeWebApp.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}
@section styles
{
    <link href="~/Areas/ManagerPanel/Assets/css/FormStyle.css" rel="stylesheet" />
}
<div class="pagetitle">
    <h2>Kategoriler</h2>
</div>

<div class="">
    @if (TempData["mesaj"] != null)
    {
        <h3 style="color:forestgreen; margin-bottom:10px;">@TempData["mesaj"]</h3>
        TempData["mesaj"] = null;
    }
    <table class="tablo" cellspacing="0" cellpadding="0">
        <tr>
            <th>Resim</th>
            <th>ID</th>
            <th>Isim</th>
            <th>Kategori</th>
            <th>Marka</th>
            <th>Stok</th>
            <th>Fiyat</th>
            <th>Durum</th>
            <th>Önerilen</th>
            <th>Seçenekler</th>
        </tr>
        @foreach (MusiCodeWebApp.Models.Product item in Model)
        {
            <tr>
                <td align="center">
                    <img src="~/Assets/ProductImages/@item.Image" width="64" />
                </td>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td align="center">@item.Category.Name</td>
                <td align="center">@item.Brand.Name</td>
                <td align="center">@item.Stock Adet</td>
                <th align="center">@item.Price ₺</th>
                <td align="center">@item.IsActive</td>
                <td align="center">
                    @if (item.IsRecent)
                    {
                        <img src="~/Areas/ManagerPanel/Assets/images/recent.png" width="24" />
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit","Product", new {id = item.ID})" class="editbutton">Düzenle</a>
                    <a href="@Url.Action("Delete","Product", new {id = item.ID})" class="deletebutton">Sil</a>
                </td>
            </tr>
        }
    </table>
</div>

